.about {
  height: 624px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.about__text-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 131px 216px 0 56px;
}
.about__title {
  font-family: "RobotoSlab";
  font-weight: 400;
  font-size: 40px;
}
.about__description {
  display: flex;
  flex-direction: row;
  font-family: "Roboto400";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
}
.about__avatar {
  /* position: relative; */
  height: 464px;
  width: 464px;
  /* top: 80px;
  left: 104px; */
  margin: 80px auto 0 80px;
}

@media screen and (max-width: 320px) {
  .about {
    width: 320px;
    height: 752px;
    flex-direction: column;
    margin: 0;
    padding: 32px 0;
  }
  .about__text-container {
    width: 288px;
    margin: 40px 40px 0 auto;
    margin: 0 16px;
  }
  .about__title {
    font-family: "RobotoSlab";
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-top: 24px;
  }

  .about__avatar {
    margin: 0;
    height: 272px;
    width: 272px;
    margin: 0 24px;
  }
  .about__description {
    margin-top: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .about {
    min-width: 768px;
    height: 354px;
  }
  .about__text-container {
    width: 424px;
    margin: 40px 40px 0 32px;
  }
  .about__title {
    font-family: "RobotoSlab";
    font-weight: 400;
    font-size: 40px;
  }

  .about__avatar {
    height: 232px;
    width: 232px;
    margin: 61px 0 0 40px;
  }
}
