.footer {
  padding: 0 104px;
  max-width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__credit {
  margin: 0;
  font-family: "Roboto400";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}
.footer__right-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer__nav-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.footer__social-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer__button {
  font-family: "Roboto400";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.footer__button_social-icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 20px 16px 22px;
    max-width: 320px;
    height: 176px;
    flex-direction: column-reverse;
  }
  .footer__nav-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 38px;
  }
  .footer__right-container {
    justify-content: space-between;
    width: 320px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .footer {
    padding: 0 40px;
    max-width: 768px;
    height: 64px;
  }
}
