.header {
  position: relative;
  margin: 0;
  padding: 30px 104px 30px 104px;
  max-width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}

a {
  text-decoration: none;
}

.header__logo {
  font-family: "RobotoSlab700", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 200px;
  height: 24px;
  cursor: pointer;
  color: #ffffff;
}

.header__logo_logged-in {
  color: #1a1b22;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__home-button {
  margin: 0;
  padding: 0;

  font-family: "Roboto500", sans-serif;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 80px;
  width: 68px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  text-align: center;
}
.header__home-button_logged-in {
  border-bottom: none;
  color: #1a1b22;
}
.header__saved-articles {
  margin-left: 34px;
  margin-right: 32px;
  width: 178px;
  color: #1a1b22;

  visibility: visible;
}
.header__home-button_active {
  border-bottom: 3px solid #ffffff;
}
.header__saved-articles_active {
  border-bottom: 3px solid #1a1b22;
}
.header__saved-articles_inactive {
  color: #b6bcbf;
  border-bottom: none;
}
.header__logout-button {
  padding: 0 0 0 15px;

  width: 40px;
  height: 40px;
  visibility: visible;
}

.header__home-button:hover {
  cursor: pointer;
}

.header__sign-in-button {
  margin: 0 0 0 34px;
  padding: 0;

  font-family: "Roboto500", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px / 50px;
}

.header__sign-in-button:hover {
  cursor: pointer;
}

.header__sign-in-button_log-out {
  justify-content: left;
  padding: 0 15px 0 19px;
  width: 112px;
  color: #1a1b22;
  border: 1px solid #1a1b22;
}
.header__log-out-button_white {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0;
}
.header__menu-button {
  background-color: transparent;
  cursor: pointer;
  width: 0px;
  height: 0px;
  visibility: hidden;
}

@media screen and (max-width: 320px) {
  .header__menu-button {
    width: 16px;
    height: 8px;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;

    visibility: visible;
  }
  .header__menu-button_saved-artiles {
    border-bottom: 2px solid #1a1b22;
    border-top: 2px solid #1a1b22;
  }

  .header__sign-in-button {
    display: none;
  }
  .header__home-button {
    display: none;
  }
  .header {
    min-width: 320px;
    height: 56px;
    padding: 16px;
  }
  .header__logo {
    font-size: 16px;
    width: 117px;
  }
  .header__logout-button {
    display: none;
  }

  .header__sign-in-button_log-out {
    display: none;
  }
  .header__home-button_logged-in {
    display: none;
  }
  .header__saved-articles {
    display: none;
  }
  .header__close-mobile-menu-button {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    min-width: 768px;
    height: 66px;
    padding: 30px 40px 30px 40px;
  }

  .header__sign-in-button {
    font-size: 16px;
    width: 152px;
    height: 40px;
  }

  .header__home-button {
    font-size: 16px;
    width: 60px;
    height: 66px;
  }

  .header__saved-articles {
    margin-left: 16px;
    margin-right: 16px;
    width: 160px;
  }

  .header__sign-in-button_log-out {
    padding: 0 13px 0 15px;
    width: 100px;
  }
}
