.main {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-cards {
  background-color: #f5f6f7;
  max-width: 100%;
  padding: 80px 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-cards__title {
  margin-bottom: 64px;
  font-family: "RobotoSlab400", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  width: 712px;
  height: 46px;
  color: #1a1b22;
  align-self: flex-start;
}

.item-cards__container {
  background-color: #f5f6f7;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px 16px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.item-cards__show-more-button {
  margin-top: 64px;
  padding: 0;
  box-sizing: border-box;

  background-color: #ffffff;
  font-family: "Roboto500", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  color: #1a1b22;
  width: 288px;
  height: 64px;
  border: none;
  border-radius: 50px / 50px;
  cursor: pointer;
}

.item-cards__show-more-button:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 320px) {
  .item-cards {
    background-color: #f5f6f7;
    max-width: 320px;
    padding: 32px 16px 24px;
  }

  .item-cards__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 58px;
    width: 288px;
  }

  .item-cards__container {
    max-width: 288px;
    grid-template-columns: repeat(1, 288px);
    gap: 10px;
  }

  .item-cards__show-more-button {
    height: 56px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .item-cards {
    max-width: 768px;
    padding: 40px;
  }

  .item-cards__title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 34px;
    width: 336px;
    height: 34px;
  }

  .item-cards__container {
    max-width: 768px;
    grid-template-columns: repeat(3, 224px);
    gap: 8px;
  }

  .item-cards__show-more-button {
    height: 56px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 321px) and (max-width: 500px) {
  .item-cards__container {
    max-width: 768px;
    grid-template-columns: repeat(2, 288px);
    gap: 8px;
  }
}
