.profile {
  max-width: 100%;
  height: 294px;
  margin: 0 auto;
}

.profile__container {
  width: 1440px;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  padding: 40px 0 56px 104px;
}

.profile__title {
  font-family: "RobotoSlab400", sans-serif;
  font-weight: 400;

  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  width: 530px;
  height: 92px;
  margin-bottom: 30px;
}

.profile__description {
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 608px;
}
.profile__description_grey {
  color: #1a1b2280;
  opacity: 50%;
  margin: 0 0 28px 0;
}
.profile__description_black {
  color: #1a1b22;
}
.profile__description_span {
  font-style: "Roboto700";
  font-weight: 700;
}
.profile__item-cards-padding {
  padding: 62px 106px 62px 102px;
}
@media screen and (max-width: 320px) {
  .profile {
    width: 320px;
    height: 246px;
  }
  .profile__container {
    top: -72px;
    margin: 0;
    padding: 8px 16px 0;
    max-width: calc(320px - 16px);
  }
  .profile__title {
    font-size: 30px;
    line-height: 34px;
    width: 288px;
    height: 68px;
    margin-bottom: 50px;
  }
  .profile__description {
    width: 288px;
    height: 72px;
  }
  .profile__description_grey {
    margin: 0 0 16px 0;
    font-size: 14px;
    height: 24px;
  }
  .profile__description_black {
    color: #1a1b22;
    height: 48px;
  }
  .profile__description_span {
    font-style: "Roboto700";
    font-weight: 700;
  }
  .profile__item-cards-padding {
    padding: 24px 16px 12px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .profile {
    min-width: 768px;
    height: 204px;
  }

  .profile__container {
    margin: 0;
    padding: 24px 40px 32px;
    max-width: calc(768px - 40px);
  }

  .profile__description {
    width: 452px;
    height: 48px;
    margin: 0;
  }

  .profile__title {
    font-size: 30px;
    line-height: 34px;
    width: 336px;
    height: 68px;
    margin-bottom: 16px;
  }
  .profile__description_grey {
    margin: 0 0 16px 0;
    font-size: 14px;
    width: 712px;
    height: 24px;
  }
  .profile__description_black {
    color: #1a1b22;
  }
  .profile__description_span {
    font-style: "Roboto700";
    font-weight: 700;
  }
  .profile__item-cards-padding {
    padding: 40px 32px;
  }
}
