.search-form {
  max-width: 100%;
  height: 496px;
  margin: 0 auto;
}

.search-form__container {
  background-image: url("../assets/SearchForm.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: -80px;
  width: 1440px;
  height: 576px;
}

.search-form__form-container {
  position: absolute;
  max-width: 1440px;
  height: 576px;
  top: 0;
  left: 0;
  margin: 160px 0 0 416px;
}

.search-form__title {
  font-family: "RobotoSlab400", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  width: 608px;
  height: 128px;
}

.search-form__description {
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  width: 608px;
  margin-top: 32px;
}

.search-form__input {
  padding: 0 0 0 24px;
  box-sizing: border-box;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  width: 608px;
  height: 64px;
  border: 1px solid #d1d2d6;
  border-radius: 50px / 50px;
  margin-top: 88px;
}

.search-form__button {
  padding: 0;
  box-sizing: border-box;
  background-color: #2f71e5;
  font-family: "Roboto400", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  position: absolute;
  top: calc(432px - 160px);
  left: 440px;
  color: #ffffff;
  width: 168px;
  height: 64px;
  border: none;
  border-radius: 50px / 50px;
  cursor: pointer;
}
.search-form__button:hover {
  background-color: #347eff;
}
.search-form__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 320px) {
  .search-form {
    height: calc(536px - 56px);
    width: 320px;
  }
  .search-form__container {
    background-image: url("../assets/SearchFormPhone.png");
    top: -72px;
    min-height: 536px;
    width: 320px;
  }
  .search-form__form-container {
    max-width: 320px;
    height: 536px;
    margin: 0;
    padding: 86px 16px 0 19px;
  }
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    width: 285px;
    height: 80px;
  }
  .search-form__description {
    width: 288px;
    height: 72px;
    margin-top: 16px;
  }

  .search-form__input {
    font-size: 16px;
    line-height: 22px;
    width: 288px;
    height: 56px;
    margin-top: 122px;
  }

  .search-form__button {
    top: 448px;
    left: 16px;
    width: 288px;
    height: 56px;
    position: static;
    margin-top: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .search-form {
    min-width: 768px;
    height: 334px;
  }

  .search-form__container {
    background-image: url("../assets/SearchForm2.png");
    max-width: 768px;
    height: 400px;
    top: -66px;
    left: 0;
  }

  .search-form__form-container {
    max-width: 768px;
    height: calc(536px - 56px);
    margin: 104px 0 0 163px;
  }
  .search-form__input {
    padding: 0 0 0 24px;
    font-size: 16px;
    line-height: 22px;
    width: 448px;
    height: 56px;
    margin-top: 48px;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    height: 80px;
  }
  .search-form__description {
    width: 452px;
    height: 48px;
    margin-top: 16px;
  }

  .search-form__button {
    top: calc(296px - 104px);
    left: 292px;
    width: 160px;
    height: 56px;
  }
}
